@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    box-sizing: border-box;
    place-items: center;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 10;
    font-family: 'Baloo Tamma 2', sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.nav {
    display: flex; /* Ensure the navigation items are in a row */
    align-items: center; /* Vertically center navigation items */
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8)); /* Drop shadow */
    display: flex; /* Ensure the navigation items are in a row */
    align-items: center; /* Vertically center navigation items */
}

.nav a:hover {
    font-weight: 700;
}

.nav a.active, .dropbtn.active {
    font-weight: bold;
}

.search-button {
    padding: 0px 20px; /* Increased padding for a larger button */
    border: none;
    cursor: pointer;
    display: flex; /* Center content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    width: 0px; /* Increased width */
    height: 0px; /* Increased height */
    font-size: 2em; /* Adjust icon size */
}

.search-button img {
    width: 25px; /* Size of the SVG icon */
    height: 25px; /* Size of the SVG icon */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8)); /* Drop shadow */
}

.search-button img:hover {
    width: 30px; /* Size of the SVG icon */
    height: 30px; /* Size of the SVG icon */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1.5)); /* Drop shadow */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -16px;
    background-color: transparent;
    min-width: 160px;
    filter: drop-shadow(0px 8px 16px 0px rgba(0, 0, 0, 0.2));
    z-index: 1;
    opacity: 0;
    transform: translateY(0px);
    transition: opacity 0.3s, transform 0.3s;
}

.dropdown-content a {
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
    background-color: rgb(255, 255, 255, 0.8);
}

.dropdown:hover .dropdown-content {
    color: black;
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Animation for dropdown items */
.dropdown-content a {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.dropdown:hover .dropdown-content a {
    opacity: 1;
    transform: translateX(0);
}

/* Staggered animation for dropdown items */
.dropdown:hover .dropdown-content a:nth-child(1) { transition-delay: 0.1s; }
.dropdown:hover .dropdown-content a:nth-child(2) { transition-delay: 0.2s; }
.dropdown:hover .dropdown-content a:nth-child(3) { transition-delay: 0.3s; }
.dropdown:hover .dropdown-content a:nth-child(4) { transition-delay: 0.4s; }
.dropdown:hover .dropdown-content a:nth-child(5) { transition-delay: 0.5s; }

/* Animation for clicked items */
.nav a, .dropbtn {
    position: relative;
    overflow: hidden;
}

.nav a::after, .dropbtn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: transparent;
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.nav a.animate::after, .dropbtn.animate::after {
    animation: ripple 0.65s ease-out;
}

.creator {
    font-size: 0.8em;
}

.hero {
    height: 100vh;
    background-image: url('img_src/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    position: relative; /* Add this */
    z-index: 1; /* Add this */
}

.hero-content {
    display: flex;
    align-items: center;
}

.logo-container {
    position: absolute; /* Allows absolute positioning of the logos */
    left: -430px;
    width: 100%;
    height: 550px; /* Set the height to fit the logos */
}

.logo, .cpe_logo, .ce_logo, .me_logo, .ee_logo, .mining_logo {
    width: 550px;
    height: 550px;
    position: absolute;
    top: 0;
    left: -600px; /* Start from outside the screen on the left */
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5)); /* Drop shadow */
    opacity: 0; /* Initially invisible */
    animation: logoMove 24s infinite; /* 24s total for all logos (4s per logo) */
}

.logo {
    animation-delay: 0s;
}

.cpe_logo {
    animation-delay: 4s;
}

.ce_logo {
    animation-delay: 8s;
}

.me_logo {
    animation-delay: 12s;
}

.ee_logo {
    animation-delay: 16s;
}

.mining_logo {
    animation-delay: 20s;
}

/* Keyframes for moving the logo from left to center and then out again */
@keyframes logoMove {
    0%, 100% {
        left: -500px;
        top: -600px; /* Off-screen left */
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        left: 50%;
        top: 0%; /* Center of the screen */
        transform: translateX(-50%); /* Ensure the logo is centered */
    }
    11% { /* Hold the logo in the center */
        animation-delay: 2s;
    }
    70% {
        opacity: 0;
    }
    75% {
        left: -9000px;
        top: 8000px;
    }
    85% {
        left: -500px;
        top: 600px; /* Move it off-screen to the right */
        opacity: 0; /* Fade out */
    }
    100% {
        down: 600px;
        left: -500px; /* Off-screen right */
    }
}

.text-content {
    color: white;
    position: absolute;
    left: 600px;
}

.text-content h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 8em;
    color: white; /* Default text color */
    text-align: left;
    margin: 0;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5)); /* Drop shadow */
    
    /* Initial background and gradient settings */
    background: linear-gradient(45deg, #cfc09f, #ff9102, #bd0808);
    background-size: 400% 400%; /* Large size for smooth animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Transparent text to allow gradient */
    background-clip: text;
    
    /* Animation to create diagonal, randomized movement */
    animation: gradientDiagonal 5s ease-in-out infinite;
}

/* Keyframes for diagonal, randomized gradient animation */
@keyframes gradientDiagonal {
    0% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    }
    25% {
        background-position: 50% 0%;
        background-size: 150% 150%;
    }
    50% {
        background-position: 100% 100%;
        background-size: 200% 200%;
    }
    75% {
        background-position: 0% 100%;
        background-size: 150% 150%;
    }
    100% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    }
}

.text-content h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: white;
    text-align: left;
    font-size: 4.5em;
    margin: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1)); /* Drop shadow */
}

.text-content p {
    font-family: 'Baloo Tamma 2', sans-serif;
    margin-left: 10px;
    font-size: 1.4em;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8)); /* Drop shadow */
    
    /* Typing effect properties */
    width: 0; /* Start at 0 width for the typing effect */
    overflow: hidden; /* Hide overflowed text */
    white-space: nowrap; /* Keep the text in one line */
    border-right: 2px solid #FFFFFF; /* Simulate cursor */
    
    /* Typing animation */
    animation: typing 10s steps(100) infinite;
    animation: blinkCursor 10s steps(100) step-end;
    animation-delay: 2s;
}

/* Typing effect animation */
@keyframes typing {
    0% { width: 0; }
    52% { border-color: white; }
    52.7% { border-color: transparent; } 
    100% { width: 870px; border-color: transparent; }
}

/* Blinking cursor effect */
@keyframes blinkCursor {
    0% { border-color: transparent; }
    50% { border-color: #FFFFFF; }
    100% { border-color: transparent; }
}

ul {
    display: flex;
    width: 80% - 2.76rem; /* Changed from calc(80% - 2.76rem) */
    padding: 50px 30px; /* Changed padding */
    margin: 0;
    background-color: #024950;
    list-style-type: none;
    position: relative; /* Changed from static */
    bottom: 10; /* Start at the bottom of the viewport */
    left: 0; /* Align to the left */
    transition: transform 0.1s ease-in; /* Smooth transition for transform */
    z-index: 2; /* Above the hero section */
}


li {
    padding: 0;
}

img {
    display: grid;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
}

ul:is(:hover, :focus-within) img {
    opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
}

a {
    outline-offset: 4px;
}

li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
}

li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
}

li:has(+ li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
}

li:has(+ li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
}

li:has(+ li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
}

li:has(+ li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
}

li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li + li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
}

li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li + li + li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
}


.policies{
    height: 150vh;
    background-image: url('img_src/background2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    position: relative; /* Add this */
    z-index: 0;
    left: 0px;
    top: -600px;
}
.iso9001{
    width: 10%;
    height: 10%;
    position: relative;

}
.VMQ h3{
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: 500;
    color: white;
    text-align: left;
    font-size: 2em;
    margin: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1)); /* Drop shadow */
}
.VMQ p{
    color: #FFFFFF;
    padding: 0px;
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    margin-left: 10px;
    font-size: 1.5em;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8)); /* Drop shadow */
}

